<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title class="browserTitle">Conformance Suite Maintenance</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Boostrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" type="text/css" href="/css/style.css">



</head>
<body>
<div class="pageHeader container-fluid">
    <div class="row">
        <div class="col-md-8">
            <a href="index.html"><img id="logo" src='/images/{{ image }}'></a>
        </div>
        <div id="userInfoDiv" class="col-md-4 text-end"></div>
    </div>
</div>
<div class="clearfix"></div>

<div class="container-fluid">
    <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-1">
                <img src="/images/cone.png" class="img-responsive" alt="Cone">
            </div>
            <div class="col-lg-5  center-text">
                <h1 class="headerText">The {{ env }} Conformance Suite Is Currently Unavailable</h1>
                <p>The {{ env }} Conformance Suite is currently being given some essential maintenance.
                We will be back online as soon as possible.
                Thank you for your patience.</p>
            </div>

        </div>
    <div class="row">
        <div class="mx-auto col-md-2">
            <div class="d-grid gap-2">
            </div>
        </div>
    </div>
</div>

<footer class="pageFooter">
    <div class="row">
        <span class="muted"><div class="brandDesc"></div><br /></span>
        <span class="muted"></span><a href="https://raidiam.com"><img src="/images/raidiam.png" width="285" height="32" alt="Raidiam"></a></span>
    </div>
</footer>
</body>
</html>
